# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Genos\Desktop\Desktop\Projeler\Python_Derslerde_Yaptigim_Projeler\Telefon_Rehberi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
